<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Hello World</title>
    <style>
        body
        {
            background:#c8c8c9;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }
        table, td, th {
            border: 1px solid #ddd;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 15px;
        }
    </style>
</head>
<body>
<h3 align="center">Welcome User</h3>
<table>
    <tr>
        <th>Hello</th>
        <th>Hello</th>
        <th>Hello</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr>
        <td>word</td>
        <td>Hello</td>
        <td>Hello</td>
        <td><form action="Edit.html"><input type="submit" value="Edit"></form></td>
        <td><input type="submit"  value="Delete"/></td>
    </tr>
    <tr>
        <td>hello</td>
        <td>Hello</td>
        <td>Hello</td>
        <td><form action="Edit.html"><input type="submit" value="Edit"></form></td>
        <td><input type="submit"  value="Delete"></td>
    </tr>
    <tr>
        <td>dude</td>
        <td>Hello</td>
        <td>Hello</td>
        <td><form action="Edit.html"><input type="submit" value="Edit"></form></td>
        <td><input type="submit"  value="Delete"></td>
    </tr>
</table>
</body>
</html>